body {
    text-align: center;
    background-color: rgb(89, 89, 255);
    color: rgb(89, 89, 255);
    
}

#lista {
    height: 300px;
    width:300px;
    margin: auto;
    display: flex;
    flex-direction: column;
    border: 30px solid rgb(89, 89, 255);
    background-color: rgba(255, 255, 255, 0.856);
}

